<template>
  <div class="todo">
    <h1>{{ title }}</h1>
    <ul class="todo-list">
      <li 
        v-for="item in items" 
        :key="item.msg" 
        :class="{ crossed: !item.isActive, hide: !item.isActive && showActiveOnly }" 
        @click="item.isActive = !item.isActive"
      >
        {{ item.msg }}
      </li>
    </ul>
    <div class="todo-submission">
      <input 
        type="text" 
        v-model="newMsg" 
        @keyup.enter="addItem" 
        placeholder="new item"
      />
      <button @click="addItem">Add</button>
    </div>
    <div class="todo-settings">
      <label>
        hide done
        <input type="checkbox" v-model="showActiveOnly" />
      </label>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Todo',
  props: {
    title: String
  },
  methods: {
    addItem: function() {
      this.items.push({msg: this.newMsg, isActive: true});
    }
  },
  data: function() {
    return {
      showActiveOnly: true,
      newMsg: "",
      items: []
    };
  }
}
</script>

<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,900&display=swap');
* {
  font-family: 'Roboto', sans-serif;
}
.todo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.todo-list {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}
.todo-list li {
  cursor: pointer
}
.todo-submission {
  display: flex;
  justify-content: space-between;
}
.todo-settings {
  min-width: 100%;
  font-size: .75em;
  line-height: .5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.crossed {
  text-decoration: line-through;
}
.hide {
  display: none
}
</style>
