<template>
  <div id="app">
    <img alt="Vue logo" src="./assets/logo.png">
    <Todo title="Vue-Todo-List"/>
  </div>
</template>

<script>
import Todo from './components/Todo.vue'

export default {
  name: 'App',
  components: {
    Todo
  }
}
</script>

<style>
#app {
  display: flex;
  flex-direction: column;
  align-items: center;
}
</style>